@import "../../assets/reset.scss";
@import "../../assets/variables.scss";


.containerQuote {

    background-color: #F3F3F3;
    overflow: hidden;

    .dataQuote {
        align-self: center;
        .backGroundHeader {
            width: 100%;
            height: 24rem;
        }

        overflow: hidden;

        margin-top: 5vw;
        width: 90%;
        background-size:auto;
        background-position: center;
        display: flex;
        margin-bottom: 5vw;
        background-image: url('https://i.ibb.co/sFSLdg9/image-79.png');

        display: flex;
        flex-direction: column;

        .infoQuote {

            width: 90%;
            height: 90%;
            margin: 5%;
            background-color: #ffffff89;
            text-align: start;
            padding: 8vw;
            overflow: hidden;

            .introductionQuoteDate {
                overflow: hidden;

                display: flex;
                flex-direction: column;
                margin-bottom: 2vw;
                gap: 0.35vw;

                .titleQuoteGenerate {
                    font-family: 'Montserrat', sans-serif;
                    font-size: clamp(7px, 3vw, 25px);
                    overflow: hidden;

                }

                p {
                    font-size: clamp(5px, 1.5vw, 1.5vw);
                    overflow: hidden;

                }

            }

            .dateUserQuote {

                display: flex;
                justify-content: space-between;



                .dateQuoteGenerate {
                    width: 30%;
                    height: 100%;


                    .billTitleQuote {


                        p {
                            background-color: rgba(228, 228, 228, 0.800);
                            text-align: center;
                            padding-top: 5%;
                            padding-bottom: 5%;
                            border: solid 1px;
                            font-size: clamp(4px, 3vw, 24px)
                        
                        }
                    }

                    div {
                        display: flex;
                        width: 100%;
                        height: 80%;

                        .numberQuoteLeft {
                            display: flex;
                            flex-direction: column;
                            padding-left: 0.5vw;
                            width: 50%;
                            height: 8vw;
                            background-color: rgb(238, 238, 238, 0.800);
                            border: solid 1px;
                            padding-top: 1vw;
                            gap: 1vw;
                            font-size: clamp(3px, 2vw, 16px)
                        }

                        .numberQuoteRight {
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                            height: 8vw;
                            background-color: rgb(242, 242, 242, 0.800);
                            border: solid 1px;
                            padding-left: 0.5vw;
                            padding-top: 1vw;
                            gap: 1vw;
                            font-size: clamp(2px, 2vw, 16px)
                        }

                    }
                }

                .infoUserQuote {
                    width: 65%;

                    display: flex;


                    &__name {
                        padding: 1.5vw;
                        display: flex;
                        flex-direction: column;
                        width: 25%;
                        background-color: rgb(244, 240, 240, 0.800);
                        gap: 0.75vw;
                        border: solid 1px;
                        font-size: clamp(3px, 2vw, 16px)
                    }

                    &__data {
                        border: solid 1px;
                        padding: 1.5vw;
                        display: flex;
                        flex-direction: column;
                        width: 75%;
                        background-color: rgb(244, 240, 240, 0.800);
                        gap: 0.75vw;
                        font-size: clamp(3px, 2vw, 16px)
                    }
                }
            }

            table {
                margin-top: 5vw;
                background-color: #f0f0f0;
                width: 100%;
                font-size: clamp(3px, 2.5vw, 16px);
                border-collapse: separate;
                border-spacing: 0 3px;

                thead 
                {
                    tr
                    {
                        th
                        {
                            background-color: #333; /* Color de fondo de las celdas de encabezado */
                            color: white; /* Color del texto en las celdas de encabezado */
                            font-weight: bold; /* Texto en negritas en las celdas de encabezado */
                            padding: 10px; /* Espacio alrededor del texto */
                        }
                    }
                }

                tbody {
                    tr {
                        td {

                           
                            text-align: center;
                            padding: 8px; /* Espacio alrededor del texto en las celdas de datos */
                            border: 1px solid #ddd; /* Borde alrededor de las celdas de datos */

                        }

                        &:last-child {
                            margin-top: 3vw;
                        }
                    }

                    .totalmyQuote {
                        td {
                            background-color: #E9DCBE; /* Un color de fondo diferente para la fila de total */
                            color: rgba(10, 10, 10, 0.802);
                            font-weight: bold;
                        }
                    }
                }


                th {
                    background-color: #d0d0d0;
                    border: 1px solid #a0a0a0;
                }

                td {
                    background-color: #ffffff;
                    border: 1px solid #a0a0a0;
                }

                // Establecer el alineamiento del texto y el relleno de las celdas
                th,
                td {
                    text-align: center;
                    padding: auto;
                }






            }


        }

        .container__btns {

            display: flex;
            justify-content: center;
            gap: 3rem;
            margin-bottom: 3rem;
            .container__btns__calendar{

                .btn__scheduleDate{
                    border: none;
                    border-radius: 5px;
                    background-color: $color-black; 
                    color: white;
                    font-family: $Letter-body;
                    width: 20vw;
                    height: 3vw;
                    cursor: pointer;

                }
            }

            
            .downloadQuote {
                
                border: none;
                border-radius: 5px;
                background-color: $color-black;
                color: white;
                font-family: $Letter-body;
                
                cursor: pointer;
                padding-left: 4rem;
                padding-right: 3rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;

                &:hover {
                    background: #000000;
                    border-radius: 1.2vw;
                }
            }

        }
    }




}



/* Estilo para el precio en sí */
.price {
    font-weight: normal;
  }
  
  /* Estilo para la nomenclatura de dinero */
  .money {
    font-weight: bold;
    font-size: 14px; /* Ajusta el tamaño según tus preferencias */
  }