

.classWeddingCard
{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    align-items: center;
    margin-bottom: 2vw;

    &__figure
    {

        .classWeddingCardImg
        {
            width: 15vw;
            height: 8vw;
        }
    }    

    &__title 
    {
        font-size: 1vw;
    }
}