

.eventSocial
{

    display: flex;
    flex-direction: column;
    text-align: center;
    .containerEventSocial
    {
        display: flex;
        flex-direction: column;
        
        .titleSocial 
        {
            margin-top: 2vw;
            margin-bottom: 0.5vw;
            font-family: 'Merriweather', serif;
            font-size: 4vw;
            text-shadow: 3px 3px 3px #999;
        }

        .lineTitle
        {
            text-align: center;
            width: 22.5vw;
            height: 1px;
            background-color: #E9DCBE;
            align-self: center;
            margin-bottom: 5vw;
        }

        .listsEvents
        {
            width: 100vw;
            height: 80vw;
            background-image: url('https://i.ibb.co/sFSLdg9/image-79.png');
            background-size:auto;
            background-position: center;
            display: flex;
        }

    }
}