@import "../../assets/reset.scss";
@import "../../assets/variables.scss";


.btn__scheduleDate{
    border: none;
    border-radius: 5px;
    background-color: $color-black; 
    color: white;
    font-family: $Letter-body;
    height: 2rem;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

