@import "../../assets/reset.scss";
@import "../../assets/variables.scss";

.main__home {
    width: 100%;
    overflow: hidden;
    .slider__home {
        height: 770px;
        width: 100%;
        background-color: $color-cream;

        .swiper {
            width: 100%;
            height: 100%;
            .description__swiper{
                color: $color-white;
                position: absolute;
                bottom: 20%;
                width: 50%;
                font-size: 40px;
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(65%)
        }

        .swiper-button-next, .swiper-button-prev {
            color: $color-cream 
        }
        .swiper-pagination {
            display: none;
          }
    }

    .main__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 30px;
        background-color: $color-white;

        .main__title__home {
            color: $color-black;
            font-size: 40px;
            padding: 20px 0;
            font-family: $Letter-titles;
        }

        .hr__home {
            height: 2px;
            width: 40%;
            align-items: center;
            border: 1px solid $color-cream;
        }

        .main__parrafo {
            font-family: $Letter-body;
            padding: 30px 0;
            font-size: 23px;
            width: 75%;
            text-align: center;
        }
    }
}

.typeEvent__home {
    width: 100%;
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btns {
        display: flex;
        justify-content: center;
        width: 83%;
        gap: 30px;
        padding-bottom: 40px;

        .btn__event {
            width: 20%;
            height: 50px;
            color: $color-black;
            background-color: $color-cream;
            border: none;
            border-radius: 12px;
            padding: 8px;
            font-size: 18px;
            font-weight: 500;
            font-family: $Letter-subtitles;
        }

        .btn__event:hover {
            background-color: $color-black;
            color: white;
            cursor: pointer;
            background-color: $color-black;
        }
    }

    .event__info {
        display: flex;
        gap: 40px;
        justify-content: center;

        .event__description {
            display: flex;
            flex-direction: column;
            height: 320px;
            width: 50%;
            gap: 30px;
            text-align: center;
            justify-content: center;
            align-items: center;

            .description__title {
                // width: 50%;
                font-size: 26px;
                font-family: $Letter-body;
            }
            
            .description__parrafo {
                // width: 60%;
                font-size: 21px;
                font-family: $Letter-body;
            }
        }

        .event__collage {
            width: 60%;

            .description__img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    padding-bottom: 50px;

    .services__title {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 30px;
        width: 80%;
        font-family: $Letter-subtitles;
    }

    .hr__services {
        height: 2px;
        width: 20%;
        align-items: center;
        border: 1px solid $color-cream;
    }

    .container__cards--services {
        display: flex;
        gap: 40px;
        width: 100%;
        justify-content: center;

        .card__services {
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-shadow: 10px;
            background-color: white;
            border-radius: 5px;
            align-items: center;
            margin-top: 35px;
            margin-bottom: 30px;

            .card__services--title {
                padding-top: 20px;
                width: 60%;
                text-align: center;
                font-size: 21px;
                font-family: $Letter-body;
            }

            .img__services {
                width: 80%;
                height: 60%;
            }

            .card__services--span {
                width: 80%;
                padding-bottom: 10px;
                text-align: center;
                font-size: 18px;
                font-family: $Letter-body;
            }
        }
        .card__services:hover {
            opacity: 0.68; 
            width: 21%; 
            transition: width 0.6s; 
            cursor: pointer;
        }
    }

    .service__btn {
        width: 10%;
        height: 50px;
        color: $color-black;
        background-color: $color-cream;
        border: none;
        border-radius: 12px;
        padding: 8px;
        font-family: $Letter-body;
        font-size: 17px;
    }

    .service__btn:hover {
        background-color: $color-black;
        color: white;
    }
}

.beneficios{
    width: 100%;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    .beneficios__title{
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 35px;
        font-family: $Letter-subtitles;
        text-align: center;
    }
    .linea__beneficios{
        width: 20%;
        border: 1px solid $color-cream;
        margin-bottom: 50px;

    }
    .container__beneficios{
        display: flex;
        width: 100%;
        gap: 10px;
        justify-content: center;
        .beneficio__card{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 34%;
            align-items: center;
            .material-symbols-outlined{
                font-size: 55px;
                color: $color-cream;
                border: 1px solid black;
                border-radius: 20px;
                padding: 3px;
                background-color: white;
                border: none;
            }
            .card__beneficio--title{
                font-size: 22px;
                font-family: $Letter-titles;
            }
            .card__beneficios--p{
                font-size: 18px;
                font-family: $Letter-body;
                width: 80%;
                text-align: center;
            }
        }
    }
}

.encantados{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    align-items: center;
    .encantados__title{
        font-size: 35px;
        font-family: $Letter-subtitles;
        padding-top: 30px;
        padding-bottom: 15px;
        text-align: center;
        width: 30%;
    }
    .encantados__span{
        text-align: center;
        font-size: 23px;

    }
    .hr__encantados{
        margin-bottom: 20px;
        border: 2px solid $color-cream;
        width: 14%;
    }
    .encantados__descripcion{
        width: 30%;
        text-align: center;
        font-size: $Letter-body;
        font-size: 19px;
    }
    .encantados__img{
        width: 10%;
        border-radius: 90%;
    }
    .encantados__img--floral{
        width: 30%;
        position: relative;
        bottom: 80px;

    }

}

.ubicacion{
    background-image: url("https://www.livevalledelcauca.com/assets/images/ginebra/salones-de-eventos-en-ginebra.jpg");
    width: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    .container__ubicacion--card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 45%;
        .card__ubicacion{
            padding: 10px;
            background-color: #E9DCBE;
            width: 40%;
            height: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .ubicacion__title{
                text-align: center;
                padding: 10px;
            }
            .ubicacion__p{
                text-align: center;
                padding: 10px;
            }
            .btn__detalles{
                padding: 10px;
                background-color: $color-white;
                color: #343434;
                width: 50%;
                margin: 5px;
                border-radius: 10px;
            }
        }
    }
}

.location {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 70px 0;

    .title {
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .location__title {
            font-size: 30px;
            padding: 0 40px;
        }
    }

    .container__card--location {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: center;

        .card__location {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img__location {
                border-radius: 10px;
                width: 80%;
                height: 70%;
            }

            .span__location {
                position: relative;
                bottom: 65px;
                font-size: 35px;
                font-weight: 400;
                color: white;
            }

            .cuadro__location {
                height: 83px;
                width: 18%;
                border: 4px solid #E9DCBE;
                position: absolute;
                margin-top: 155px;
            }

            .btn__location {
                width: 35%;
                height: 50px;
                color: #343434;
                background-color: #E9DCBE;
                border: none;
                border-radius: 12px;
                font-weight: 700;
                padding: 8px;
            }

            .btn__location:hover {
                background-color: $color-black;
                color: white;
            }
        }
    }
}

.comentarios {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    padding: 40px;

    .comentarios__title {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .container__cards--coments {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        height: 100%;

        .container__comen {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            .img__comentario {
                width: 30%;
                height: 20%;
                border-radius: 5px;
                padding-bottom: 35px;
            }
    
            .testimonio {
                width: 60%;
                text-align: center;
                padding-bottom: 30px;
                color: $color-grey;
                font-size: 19;
            }
    
            .container__calificacion {
                display: flex;
                gap: 10px;
                width: 25px;
                height: 30px;
                justify-content: center;
    
                .star-calificacion {
                    width: 30px;
                    height: 30px;
                }
            }
        }

    }
}