@import "../../assets/reset.scss";
@import "../../assets/variables.scss";

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
    height: 48rem;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid;
    background-color: #ffffff;
  
    .div__modal {
        width: 100%;
        height: 3rem;
        display: flex;
        background-color: $color-cream;
        font-family: $Letter-subtitles; 
        justify-content: flex-end;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      
        .slogan {
            color: black;
            width: 100%;
            text-align: center;
            font-size: 23px;
        }
    }
}
  
  .div__info {
    width: 100%;
    height: 3rem;
    padding: 10px 30px;
    display: flex;
    background-color: $color-cream;
    font-family: $Letter-subtitles;
    justify-content: flex-end;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    bottom: 1px;
   
    .slogan {
      color: black;
      width: 100%;
      text-align: center;
      font-size: 23px;
    }
  
    .equis {
      font-weight: bold;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .div__info2 {
    width: 100%;
    height: 3rem;
    padding: 10px 30px;
    display: flex;
    background-color: $color-cream;
    font-family: $Letter-subtitles;
    justify-content: flex-end;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .swiper {
    width: 100%;
    height: 45rem;
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  .informacion__modal {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 20px; 
  
    .informacion__modal--titulo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 50%;
  
      .titulo__modal {
        font-size: 50px;
        font-family: $Letter-titles;
      }
  
      .imagen__modal--icono {
        width: 8rem;
      }
  
      .capacidad__modal {
        font-size: 24px;
        font-family: $Letter-body;
      }
    }
  
    .informacion__modal--mapa {
      width: 50%;
      max-width: 100%; 

    }
  }
  