@import "../../assets/reset.scss";
@import "../../assets/variables.scss";




.ReactModal__Overlay {
  background-color: rgba(21, 16, 17, 0.244) !important;
  z-index: 1000;
}

.modal6 {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    width: 70%;
    margin: 3% auto;
    height: 90%;
    min-width: 300px;
    box-sizing: border-box;
    border: none;
    border-radius: 19px;
    background-color: #E9DCBE;

  .div__modal {
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: $color-cream;
    font-family: $Letter-subtitles;
    justify-content: flex-end;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    .slogan {
      color: black;
      width: 100%;
      text-align: center;
      font-size: 23px;
    }
  }
}

.div__info {
  width: 100%;
  height: 40%;
  padding: 10px 30px;
  display: flex;
  background-color: $color-cream;
  font-family: $Letter-subtitles;
  justify-content: flex-end;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  bottom: 1px;

  .slogan {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 23px;
  }

  .equis {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
  }
}

.div__info2 {
  width: 100%;
  height: 3rem;
  padding: 10px 30px;
  display: flex;
  background-color: $color-cream;
  font-family: $Letter-subtitles;
  justify-content: flex-end;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.swiper {
  width: 100%;
  height: 45rem;
  .swiper-pagination-bullet{
    display: none;
  }
  .swiper-button-next{
    display: block;
  }
  .swiper-button-prev{
    display: block;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

    .imagen__slider--modal{
      display: block;
      width: 100%;
      height: 17rem;
      object-fit: cover;
    }

  }
}

.informacion__modal {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 40%;

  .informacion__modal--titulo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 50%;
    margin-bottom: 50px;

    .titulo__modal {
      font-size: 30px;
      font-family: $Letter-titles;
    }

    .imagen__modal--icono {
      width: 5rem;
    }

    .capacidad__modal {
      font-size: 24px;
      font-family: $Letter-body;
    }
  }

  .informacion__modal--mapa {
    width: 50%;
    max-width: 100%;
    height: 21rem;
    border-radius: 57px;

    .place-card {
      background-color: red;
    }

  }
}


.place-card {
  background-color: aqua;
  width: 400px;
}

.place-card-medium {
  background-color: blue;
  width: 400px;
}

.place-desc-medium {
  background-color: rebeccapurple;
  width: 400px;
}

.place-name {
  color: chartreuse;
}

.custom-cursor-default-hover {
  color: chartreuse;
}

.place-card.place-card-medium.custom-cursor-default-hover {
  background: rgb(16, 37, 176) !important;
}

