@import '../../assets/variables.scss';
@import '../../assets/reset.scss';

.modal__detalles {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 7% auto;
    height: auto;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid;
    background-color: #ccc9c9;
    transition: 1s ease-in-out;
    justify-content: center;

    .equis2 {
        position: absolute;
        top: 1rem;
        right: 6rem;
        font-size: 25px;
        font-family: cursive;
        font-weight: bold;
        cursor: pointer;
        color: #e6dbe4;
    }

    .sectionQuote {
        background-color: #f3f3f3;
        flex-direction: column;
        height: auto;
        width: 100%;

        .infoQuote {
            display: flex;
            flex-direction: column;
            gap: 50px;
            height: auto;
            justify-content: space-evenly;

            .introductionQuoteDate {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .titleQuoteGenerate {
                    font-family: Montserrat;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }

        .containerQuote {
            display: flex;
            text-align: center;
            height: 100%;
            width: 100%;
            max-width: 1500px;
            min-width: 300px;
            justify-content: space-around;
            flex-direction: column-reverse !important;
            padding: 0px 10px;
            justify-content: flex-end;
            padding: 30px;
            .textQuote {
                text-align: start;
                padding: 2rem;
                width: 90%;
                height: auto;
                margin: 25px 0;
                text-align: center;
            }

            .dateUserQuote {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .infoUserQuote {
                    display: flex;
                    flex-wrap: wrap;
                    width: 60%;

                    .infoUserQuote__name {
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        font-weight: bold;
                        border: 1px solid;
                    }

                    .infoUserQuote__data1 {
                        border: 1px solid;
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        text-align: start;
                        padding: 0 10px;
                    }

                }
                .dateUserQuote{

                    .table{
                        margin: 20px 0;
                        background-color: aqua;
                    }
                }

                .dateQuoteGenerate {
                    display: flex;
                    width: 35%;
                    flex-wrap: wrap;

                    .billTitleQuote {
                        background-color: gray;
                        width: 100%;
                        text-align: center;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border: 1px solid;
                        font-size: 21px;
                    }

                    .numberQuoteRight {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        border: 1px solid;
                    }

                    .numberQuoteLeft {
                        border: 1px solid;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        font-weight: bold;
                    }
                }

               
            }
        }

        .totalmyQuote {
            background-color: #e6dbe4;
            font-weight: bold;
            color: #000;
        }

        .downloadQuote {
            position: absolute;
            background: #efeaea;
            color: black;
            font-weight: bold;
            padding: 10px;
            border-radius: 17px;
            bottom: 20%;
            right: 40%;
            cursor: pointer;
        }

        .downloadQuote:hover {
            background-color: rgb(199, 197, 165);
            color: rgb(30, 28, 28);
            cursor: pointer;
        }
    }

}

@media (max-width: 600px) {
    .modal__detalles {
        width: 90%;
        height: 35rem;
        max-width: 100%;

        .equis2 {
            color: rgb(247, 244, 244);
            position: relative;
            top: 8px;
        }

        .titleQuoteGenerate {
            margin-bottom: 30px;
        }

        .sectionQuote {
            .infoQuote {
                height: auto;
            }

            .containerQuote {
                padding: 0 10px;

                .dateUserQuote {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    align-items: center;

                    .dateQuoteGenerate {
                        width: 100%;
                    }

                    .infoUserQuote {
                        width: 100%;

                        .infoUserQuote__data1 {
                            width: 50%;
                        }

                        .infoUserQuote__name {
                            width: 50%;
                        }
                    }
                }

                .table {

                    margin-bottom: 40px;

                    .totalmyQuote {
                        background-color: none;
                        margin-top: 80px;
                    }
                }

                .textQuote {
                    width: 80%;
                }

            }

            .downloadQuote {
                position: absolute;
                background: #c8c8c8;
                color: black;
                font-weight: bold;
                padding: 10px;
                right: 25%;
            }
        }
    }

}