

.ourServices
{

    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    .containerServices
    {
        display: flex;
        flex-direction: column;


        .titleServices
        {
            font-family: 'Merriweather', serif;
            font-size: 5vw;
            text-align: center;
            margin: 3vw;
        }

        .textServices
        {
            font-family: 'Catamaran', sans-serif;
            text-align: center;
            font-size: 2.3vw;
            margin: 2vw;
        }

        .allServices
        {


            display: flex;
            gap: 2vw;
            flex-wrap: wrap;
            text-align: center;
            width: 94vw;
            margin-left: 3vw;
            margin-right: 3vw;
            
            
        }

        .titleGalery
        {
            font-family: 'Merriweather', serif;
            font-size: 4vw;
            text-align: center;
            margin: 4vw;
        }

        .ourGallery
        {
            width: 100vw;
            height: 280px;
            background-color: #E9DCBE;
            display: flex;

           figure
           {
                width: 100vw;
                margin: 0.5vw;
                display: flex;
                gap: 1vw;
                img
                {
                    width: 30vw;
                }
           }
        }

    }

}